node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
.git
*/.git
*/*/.git
*/*/*/.git
*/*/*/*/.git
*/*/*/*/*/.git
*/*/*/*/*/*/.git


/packages/base/storage/private/cache/*
/packages/base/storage/protected/logs/*
/packages/packages/node_webpack/storage/public/frontend/dist/*
/packages/packages/node_webpack/nodejs/result.json